html{
    margin: 0;
    padding: 0;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
} 

body{
    background-color: white;
    margin: 0;
    padding: 0;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgray;
}
.WINDOW{
    width:1500px;
    height:850px;
    border: 2px black solid;
}

.top-row{
    display: flex;
    flex-direction: row;
    width:100%;
    height:50%;
    background-color: blue;
}
.top-row-segment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    margin: 0 25px;
    height:100%;
    background-color: green;
}
.memory-line{
    display: flex;
    width:300px;
    border-radius: 5px;
    box-shadow: 3px 0px 10px rgba(0,0,0,0.2);
    height:20px;
    background-color: pink;
}
.bottom-row{
    display: flex;
    width:100%;
    height:50%;
    background-color: yellow;
}